<section class="login-page mx-auto max-w-md px-4 py-12">
  <div class="login-panel rounded-3xl p-8 shadow-sf-lg">
    <a
      routerLink="/"
      class="login-panel__logo-link"
      [attr.aria-label]="'APP.TITLE' | translate"
    >
      <img
        [src]="logoSrc()"
        width="160"
        height="160"
        alt=""
        class="login-panel__logo-img"
      />
    </a>
    <div class="login-panel__intro">
      <h1 class="login-page__title">{{ 'LOGIN.TITLE' | translate }}</h1>
      <p class="login-page__sub">{{ 'LOGIN.SUB' | translate }}</p>
    </div>

    <form class="login-page__form" (ngSubmit)="submit()">
      <label class="login-page__label">
        <span>{{ 'LOGIN.EMAIL' | translate }}</span>
        <input
          type="email"
          name="email"
          class="login-page__input"
          [(ngModel)]="email"
          autocomplete="username"
          required
        />
      </label>
      <label class="login-page__label">
        <span>{{ 'LOGIN.PASSWORD' | translate }}</span>
        <input
          type="password"
          name="password"
          class="login-page__input"
          [(ngModel)]="password"
          autocomplete="current-password"
          required
        />
      </label>

      @if (errorMsg(); as err) {
        <p class="login-page__err" role="alert">
          {{ err | translate }}
        </p>
      }

      <skyflow-ui-button
        type="submit"
        variant="primary"
        [loading]="busy()"
        [block]="true"
        btnClass="login-page__submit shadow-sf-lg"
      >
        {{ 'LOGIN.SUBMIT' | translate }}
      </skyflow-ui-button>
    </form>

    <p class="login-page__back">
      <a routerLink="/" class="login-page__link">{{ 'LOGIN.BACK_HOME' | translate }}</a>
    </p>
  </div>
</section>
